'name':'Yang'
'comment':'YANG Data Modeling Language'
'fileTypes':[
  'yang'
]
'foldingStartMarker': '({|\\()\\s*$'
'foldingStopMarker': '(}|\\))\\s*$'
'patterns': [
    {
        'match':'\\b(anyxml|argument|augment|base|belongs-to|bit|case|choice|config|contact|container|default|description|enum|error-app-tag|error-message|extension|deviation|deviate|feature|fraction-digits|grouping|identity|if-feature|import|include|input|key|leaf|leaf-list|length|list|mandatory|max-elements|min-elements|module|must|namespace|notification|ordered-by|organization|output|path|pattern|position|prefix|presence|range|reference|refine|require-instance|revision|revision-date|rpc
status|submodule|type|typedef|unique|units|uses|value|when|yang-version|yin-element|add|current|delete|deprecated|false|max|min|not-supported|obsolete|replace|system|true|unbounded|use)\\b'
        'name':'keyword.yang'
    }
]
